about==5.2
appdirs==1.4.4
asgiref==3.2.10
asn1crypto==0.22.0
astroid==2.4.2
autopep8==1.5.4
bcrypt==3.2.0
beautifulsoup4==4.9.1
cffi==1.14.1
click==7.1.2
colorama==0.4.3
cryptography==3.0
distlib==0.3.1
dj-database-url==0.5.0
Django==2.2.10
django-crispy-forms==1.9.2
django-fontawesome==1.0
django-htmlmin==0.11.0
django-khalti==1.0
django-sass-processor==0.8
django-smtp-ssl==1.0
django-split-settings==0.2.5
django-taggit==1.3.0
django-user-agents==0.4.0
djangorestframework==3.11.1
docupy==0.3.2
easyparse==1.0.6
enum34==1.1.6
Fabric==1.13.2
filelock==3.0.12
Flask==1.1.2
gevent==20.6.2
greenlet==0.4.16
gunicorn==20.0.4
homepage==0.4.2
html5lib==1.1
idna==2.5
ipaddress==1.0.18
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
libsass==0.20.0
login==0.0.6
MarkupSafe==1.1.1
mccabe==0.6.1
mysql-client==0.0.1
mysql-connector==2.2.9
mysql-connector-python==8.0.21
paramiko==2.7.1
pbr==5.4.5
Pillow==7.2.0
protobuf==3.13.0
pyasn1==0.2.3
pycodestyle==2.6.0
pycparser==2.17
pylint==2.5.3
pynacl==1.4.0
pytz==2017.2
PyYAML==5.3.1
reverse==0.1.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
stevedore==3.2.0
toml==0.10.1
ua-parser==0.10.0
user-agents==2.1
views==0.3
virtualenv==20.0.30
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.2.0
wrapt==1.12.1
youtube-dl==2020.5.29
zope.event==4.4
zope.interface==5.1.0
